<h1><%= @title %> </h1>
<p><%= @msg %></p>
<%= form_tag(controller: "hero",action:"index") do %>
  <%= select_tag('s1',
    options_for_select(["windows","macOS","Linux"]),
      {size:5, multiple:true}) %>
  <%= submit_tag("Click")%>
<% end %>